.hamburger-menu-icon {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  display: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.hamburger-menu-icon:hover {
  border-color: gray;
}

.hamburger-left,
.hamburger-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-left {
  left: 1rem;
}

.hamburger-right {
  right: 1rem;
}

@media (max-width: 800px) {
  .hamburger-menu-icon {
    display: flex;
  }
}
