body {
  margin: 0;
  box-sizing: border-box;
}

.con {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  margin-top: 3rem;
  height: calc(100vh - 3rem);
}

.main-con {
  flex: 3;
  width: 100%;
  overflow-y: auto;
  padding: 1rem;
}