.content-footer-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  flex-direction: column;
}

.content-footer-link {
  border: 1px solid lightgray;
  border-radius: 4px;
  width: calc(100% - 2rem);
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
}

.link-marker {
  color: rgb(95, 95, 95);
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

.link-title {
  font-weight: 600;
  color: rgb(82, 82, 82);
  margin: 0;
}

.link-marker-con {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 576px) {
  .content-footer-link {
    flex-basis: revert;
  }

  .content-footer-con {
    flex-direction: row;
  }
}