.content-footer-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.content-footer-link {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 0.5rem;  
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.link-marker {
  color: rgb(95, 95, 95);
  font-size: 0.9rem;
}

.link-title {
  font-weight: 600;
  color: rgb(82, 82, 82);
}