.content-footer-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.content-footer-link {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 0.5rem;
  width: 100%;
}