.aside-con {
  flex: 1;
  border-right: 1px solid gray;
  min-width: 250px;
  max-width: 250px;
  padding: 1rem;
  overflow: auto;
  background-color: white;
  transition: all 0.3s;
}

@media (max-width: 800px) {
  .aside-con {
    height: 100%;
    position: fixed;
  }
}