.aside-con {
  border-right: 1px solid gray;
  min-width: 250px;
  padding: 1rem;
  overflow: auto;
  background-color: white;
}

.aside-con-responsive {
  display: none;
}

@media (max-width: 800px) {
  .aside-con {
    display: none;
  }

  .aside-con-responsive {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
  }
}