.header-con {
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  background: var(--background-secondary-color);
  font-weight: 500;
  padding: 1rem;
  top: 0;
  z-index: 1;
  background-color: var(--primary-color);
  height: 65px;
}

.header-con .header-con-inner {
  /* max-width: 1400px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  height: 100%;
}

.header-logo {
  height: 32px;
  object-fit: contain;
}

.link-con {
  display: none;
  gap: 1.25rem;
  width: 100%;
  align-items: center;
  color: var(--text-secondary-color);
}

.header-con .links {
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
}

.header-con .links:hover {
  background-color: transparent;
}

.cta-link {
  border: 1px solid var(--accent-color);
  color: var(--text-secondary-color);
  padding: 12px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  background-color: transparent;
}

.cta-link:hover {
  background-color: transparent;
  color: var(--accent-color);
}


@media only screen and (min-width: 768px) {
  .link-con {
    display: flex;
  }
}